# Ignore dataset
data/metadata.csv

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# Jupyter notebooks
.ipynb_checkpoints

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
